body {
    background-color: rgba(100, 129, 162, 0.95);
    margin: 0;
    padding: 0;
}

.draggable {
    -ms-overflow-style: scrollbar;
    -webkit-app-region:drag;
}


#fastack {
    font-size: 40px;
    color: rgba(255,255,255,0.9);
    text-align: justify;
    padding-top: 70px;
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Alcubierre.otf);
}

#createTaskTitle {
    word-spacing: -5px;
    font-family: myFirstFont;
    font-size: 30px;
    color: rgba(255,255,255,0.9);
    margin: 15px;
    background: transparent;
}


#pageChange {
    word-spacing: -3px;
    font-family: myFirstFont;
    font-size: 15px;
    color: lightgray;
    margin: 15px;
}

label {
    word-spacing: -1px;
    font-family: myFirstFont;
    font-size: 14px;
    color: rgba(255,255,255,0.9);
    margin: auto;
    padding: 1em 1em 1em 8%;
    float: left;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

.subcolumn {
    padding: 0;
    border-radius: 25px;
    float: left;
    width: 50%;
}

.tui-editor-defaultUI {
    display: block!important;
    margin: 0 auto;
    width: 80%;
}



/* Clear floats after the columns */
.subrow:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    padding: 0;
    border-radius: 5px;
    background: rgba(100, 129, 162, 0.95);
    float: left;
    width: 100%;
    height: 270%;

}

/* Clear floats after the columns */
.rows:after {
    content: "";
    display: table;
    clear: both;
}

.col-sm-6 {
    position: relative;
}

#gitRepo {
    font-size: 20px;
    color: rgba(255,255,255,0.9);
    padding-bottom: 20px;
    padding-top: 110px;
    text-align: center;
}


.boxAround {
    border:2px rgba(255,255,255,0.9) solid;
    font-size: 25px;
    color: rgba(255,255,255,0.9);
    padding-top: 8px;
    margin-top: 10px;
}

#bottomText{
    color: rgba(255, 255, 255, 0.5);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.headerInfo {
    border-bottom:2px rgba(255,255,255,0.9) solid;
    font-size: 20px;
    color: rgba(255,255,255,0.9);
    padding-top: 8px;
    margin-top: 5px;
}

.description {
    font-size: 16px;
    color: rgba(255,255,255,0.9);
    text-align: justify;
}

#description {
    background: rgba(255,255,255, 0.1);
    border: 0!important;
}

/* mouse over link */
.textRepoLink:hover {
    color: rgba(255,255,255,0.9);
    cursor:pointer;
}

.textRepoLink {
    font-size: 20px;
    margin: auto;
    color: darkorange;
    padding-bottom: 20px;
    padding-top: 40px;
    margin-top: 30px;
}

.taskInput{
    margin:auto;
    width: 100%
}

.centerTaskInput{
    margin:auto;
    width: 80%;
    text-align: center;
    color: rgba(255,255,255,0.9);
    border-bottom: 1px solid rgba(255,255,255,0.9);
}

#createNewTask{
    text-align: center;
    position: relative;
}

.col-sm-6{
    margin: 0!important;
    padding: 0!important;
    width: 100%!important;
}
.container{
    margin: 0!important;
    padding: 0!important;
    width: 100%!important;
}

.row {
    padding: 5%!important;
}

input[type=text] {
    padding: 0;
    word-spacing: -1px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: auto;
    font-size: 14px;
    color: rgba(255,255,255,0.9);
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.9);
    width: 80%;
}


#errorDropdown {
    padding: 2%;
    box-sizing: border-box;
    background: rgba(200, 229, 262, 0.5);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    left: 2%;
    top: -10%;
    width: 96%;
    float: left;
    height: 10%;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

#errorDropdown.trigger {
    box-sizing: border-box;
    background: rgba(200, 229, 262, 0.5);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.5);
    top: 0;
    font-size: 14px;
    left: 2%;
    padding: 2%;
    width: 96%;
    float: left;
    height: 10%;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.boxInput{
    padding: 0;
    word-spacing: -1px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: auto;
    font-size: 14px;
    color: rgba(255,255,255,0.9);
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.9);
    width: 80%;
    height: 20%
}

.notesInput{
    height: 20%!important;
}
input[type=datetime-local] {
    padding: 0!important;
    word-spacing: -1px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: auto!important;
    font-size: 14px;
    color: rgba(255,255,255,0.9);
    outline: none!important;
    border: 0;
    background: transparent!important;
    border-bottom: 1px solid rgba(255,255,255,0.9);
    width: 80%!important;
}

input[type=number] {
    padding: 0!important;
    word-spacing: -1px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: auto!important;
    font-size: 14px;
    color: rgba(255,255,255,0.9);
    outline: none!important;
    border: 0;
    background: transparent!important;
    width: 30%
}

.te-editor {
    background: rgba(255,255,255,0.1);
}

.tui-editor {
    height: 100%!important;
}

:not(.auto-height) > .tui-editor-defaultUI,
:not(.auto-height) > .tui-editor-defaultUI > .te-editor-section {
    border: 0!important;
}

.te-editor-section {
    height:90%!important;
}


.tui-editor-defaultUI-toolbar {
    overflow: scroll!important;
}

.tui-popup-body {
    width: 200px;
}

.CodeMirror {
    background: transparent!important;
}

.text {
    color: rgba(255,255,255,0.9)!important;
}

.tui-tooltip {
    z-index: 1000000!important;
}

.te-preview {
    background-color: rgba(255,255,255, 0.3);!important;
}

.te-mode-switch-section {
    display: none!important;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

#editSection {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.te-toolbar-section {
    background-color: rgba(255,255,255,0.9)!important;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}


#createtask {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-radius: 25px;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(54,72,95, 0.9);
    outline: none;
    color: rgba(255,255,255,0.9);
    font-size: 15px;
}

span {
    margin: auto;
    font-size: 16px;
    display: block;
    color: black;
    outline: none;
    border: 0;
    background: transparent;
    padding-bottom: 10px;
}

input[type=submit] {
    align-self: stretch;
    display: block;
    width: 65%;
    height: 4.5%;
    padding: 20px;
    background: #00A89D;
    outline: none;
    font-weight: bold;
    border: 0;
    margin-top: 5px;
    color: rgba(255,255,255,0.9);
    border-radius: 25px;
    font-size: 15px;
    -webkit-app-region:no-drag;
}

i {
    border: solid rgba(255, 255, 255, 0.5);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

::placeholder {
    color: rgba(255,255,255,0.9);
}

input[type=submit]:hover {
    align-self: stretch;
    display: block;
    width: 70%;
    height: 5%;
    padding: 20px;
    background: #00A89D;
    outline: none;
    font-weight: bold;
    border: 0;
    margin-top: 5px;
    color: rgba(255,255,255,0.9);
    font-size: 15px;
    border-radius: 25px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -webkit-app-region:no-drag;
}


