body {
    background-color: rgba(100, 129, 162, 0.0);
    margin: 0;
    padding: 0;

}
body * {
    -webkit-app-region:no-drag!important;
}

.draggable {
    -ms-overflow-style: scrollbar;
    -webkit-app-region:drag;
}

table { 
  width: 90%;
}
th {
  text-align:left;
  font-family: opensans-extrabold;
}

td {
  text-align:right;
  font-size: 95%;
  font-family: opensans;
}

::-webkit-scrollbar {
    display: none;
}

h2{
  padding: 0;
  margin:0;
  font-size:140%;
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Alcubierre.otf);
}

@font-face {
  font-family: opensans-extrabold;
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: opensans;
  src: url(../fonts/OpenSans-Regular.ttf);
}

/* Start of framework code */
*,*::after,*::before{box-sizing:border-box}
.container{height: auto; display:flex;flex-direction:column}
.stack,.panel{display:flex}
.stack{flex-direction:column}
/* End of framework code */

body
{
  font-family: Helvetica, Arial, sans-serif;
  font-size:18px;
} 

.task
{
  padding-top: 4%;
  text-overflow: ellipsis;
  position: relative;
  border-radius: 25px;
  color: black;
  overflow: hidden;
}
.glow {
  font-size: 18px;
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #fff;
  }
  
  to {
    text-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #fff;
  }
}

.s1 > .task:last-of-type
{
  margin-bottom:0;
}

.s1
{
  position: relative;
  background: transparent;
}

.s2
{
  flex: 3 0 12rem;
  flex-direction:column;
  justify-content:space-between;
}

@media all and (min-width:601px)
{
  .s2
  {
    flex:1 0 4rem;
    flex-direction:row;
  }

  .s2 > .panel
  {
    max-width: calc(33% - .25rem);
  }
}